<div class="container d-flex justify-content-center align-items-center h-25">
  <mat-card class="w-100">
    <mat-form-field appearance="legacy" class="w-100">
      <mat-label>{{ "FIND" | translate }}</mat-label>
      <input matInput type="text" autocomplete="Off" [(ngModel)]="searchTitle"/>
    </mat-form-field>
    <div class="button">
      <button mat-raised-button color="primary" (click)="search()" type="submit" class="w-100">
        {{ "FIND-BTN" | translate }}
      </button>
    </div>
    <mat-error color="warn" class="w-100" *ngIf="searchError">
      {{ "FILL" | translate }}
    </mat-error>
    <div class="row d-flex justify-content-center mt-2 mb-3">
      <div class="d-flex justify-content-center">
        <button (click)="fetchbook(name)" class="lastsearch" mat-stroked-button color="primary" *ngFor="let name of lastThreeSearches">{{ name }}</button>
      </div>
    </div>
  </mat-card>
</div>
<div class="container mt-5">
    <div *ngIf="selectedbook$ | async as selectedbook">
      <div class="row">
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{selectedbook.title}}</mat-card-title>
              <mat-card-subtitle>{{selectedbook.authors}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="selectedbook.imageLinks.thumbnail" alt="Photo of a book">
          </mat-card>
        </div>
        <div class="col-md-8">
          <mat-card class="example-card">
            <mat-card-content>
              <p>{{selectedbook.description}}</p>
            </mat-card-content>
            <form [formGroup]="form" (submit)="save(selectedbook)">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>{{"REVIEW" | translate}}</mat-label>
                <textarea  formControlName="review" id="review" maxlength="50" matInput></textarea>
                <mat-error align="end" *ngIf="submitted && form.invalid">{{"REVIEW-MUST" | translate}}</mat-error>
                <mat-hint align="end" >{{review.value.length}} / 50</mat-hint>
              </mat-form-field>
              <div class="row align-items-center pt-3 pb-3">
                <div class="col-md-6">
                <label id="example-radio-group-label">{{"REVIEW-CHOOSE" | translate}}</label>
                <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" formControlName="rating">
                  <mat-radio-button color="primary" *ngFor="let reting of retings" [value]="reting">{{reting}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label for="status">{{"SELECT" | translate}}</mat-label>
                  <mat-select formControlName="status" disableRipple>
                    <mat-option [value]="status.read">{{"READ" | translate}}</mat-option>
                    <mat-option [value]="status.readLater">{{"READ-LATER" | translate}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12" *ngIf="canReadLater">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Choose a date</mat-label>
                  <input formControlName="whenRead" matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
              </div>
              </div>
            <button mat-raised-button color="primary" type="submit">{{"SAVE" | translate}}</button>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
</div>
