section {
  background-image: url(../../../assets/img/auth.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: block;
  .bg-color {
    background-color: rgba(0, 0, 0, 0.753);
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    mat-card {
      padding: 50px 20px;
      border-radius: 10px;
      mat-card-title {
        padding-bottom: 20px;
      }
      mat-card-content {
        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          mat-form-field {
            width: 100%;
            min-width: 600px;
            padding: 5px 0;
          }
          mat-hint {
            padding: 20px 0;
          }
          .button {
            display: flex;
            justify-content: flex-end;
            button {
              width: 100%;
              background-color: #69d2e7;
              outline: none !important;
              border: none;
              color: white;
              padding: 16px;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}
